@keyframes wheader {
  from {
    transform: translateY(-200%); }
  to {
    transform: translateY(0%); } }
div.cryptos-data {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%; }

div.wheader {
  border-bottom: 1px solid #E5E5E5;
  transform: translateY(-200%);
  justify-content: stretch;
  padding-bottom: 10px;
  align-items: center;
  position: relative;
  display: flex;
  z-index: 0; }
  @media only screen and (min-width: 0) and (max-width: 399px) {
    div.wheader {
      padding-bottom: 0; } }
  div.wheader div.text-data {
    margin-left: 30px;
    width: 100%; }
    @media only screen and (min-width: 0) and (max-width: 399px) {
      div.wheader div.text-data {
        margin-left: 22px; } }
    div.wheader div.text-data div.title-zone {
      margin-bottom: 10px; }
      div.wheader div.text-data div.title-zone label {
        letter-spacing: 1.5px;
        font-family: Roboto;
        font-size: 18px;
        user-select: none;
        color: #777; }
        @media only screen and (min-width: 300px) and (max-width: 399px) {
          div.wheader div.text-data div.title-zone label {
            font-size: 14px; } }
        @media only screen and (min-width: 0) and (max-width: 299px) {
          div.wheader div.text-data div.title-zone label {
            font-size: 12px; } }
    div.wheader div.text-data div.total-amount label {
      letter-spacing: 1.5px;
      font-family: Saira;
      font-size: 24px;
      user-select: none;
      color: #4B4B4B;
      position: relative;
      display: block;
      z-index: 0; }
      @media only screen and (min-width: 315px) and (max-width: 399px) {
        div.wheader div.text-data div.total-amount label {
          font-size: 16px; } }
      @media only screen and (min-width: 0) and (max-width: 314px) {
        div.wheader div.text-data div.total-amount label {
          font-size: 12px; } }
  div.wheader div.graph-data {
    padding-right: 25px; }
    div.wheader div.graph-data svg#graph-statistics circle {
      transform-origin: center;
      stroke-width: 3px;
      fill: none; }
    @media only screen and (min-width: 300px) and (max-width: 399px) {
      div.wheader div.graph-data svg#graph-statistics {
        transform: scale(0.8); } }
    @media only screen and (min-width: 0) and (max-width: 299px) {
      div.wheader div.graph-data svg#graph-statistics {
        transform: scale(0.7); } }
